## SQL at Scale with Spark SQL

Welcome to the SQL mini project. For this project, you will use the Databricks Platform and work through a series of exercises using Spark SQL. The dataset size may not be too big but the intent here is to familiarize yourself with the Spark SQL interface which scales easily to huge datasets, without you having to worry about changing your SQL queries. 

The data you need is present in the mini-project folder in the form of three CSV files. This data will be imported in Databricks to create the following tables under the __`country_club`__ database.

<br>
1. The __`bookings`__ table,
2. The __`facilities`__ table, and
3. The __`members`__ table.

You will be uploading these datasets shortly into the Databricks platform to understand how to create a database within minutes! Once the database and the tables are populated, you will be focusing on the mini-project questions.

In the mini project, you'll be asked a series of questions. You can solve them using the databricks platform, but for the final deliverable,
please download this notebook as an IPython notebook (__`File -> Export -> IPython Notebook`__) and upload it to your GitHub.

### Creating the Database

We will first create our database in which we will be creating our three tables of interest

In [0]:
%sql 
drop database if exists country_club cascade;
create database country_club;
show databases;

databaseName
country_club
default

### Creating the Tables

In this section, we will be creating the three tables of interest and populate them with the data from the CSV files already available to you. 
To get started, first upload the three CSV files to the DBFS as depicted in the following figure

![](https://i.imgur.com/QcCruBr.png)


Once you have done this, please remember to execute the following code to build the dataframes which will be saved as tables in our database

In [0]:
# File location and type
file_location_bookings = "/FileStore/tables/Bookings.csv"
file_location_facilities = "/FileStore/tables/Facilities.csv"
file_location_members = "/FileStore/tables/Members.csv"

file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
bookings_df = (spark.read.format(file_type) 
                    .option("inferSchema", infer_schema) 
                    .option("header", first_row_is_header) 
                    .option("sep", delimiter) 
                    .load(file_location_bookings))

facilities_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_facilities))

members_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_members))

### Viewing the dataframe schemas

We can take a look at the schemas of our potential tables to be written to our database soon

In [0]:
print('Bookings Schema')
bookings_df.printSchema()
print('Facilities Schema')
facilities_df.printSchema()
print('Members Schema')
members_df.printSchema()

### Create permanent tables
We will be creating three permanent tables here in our __`country_club`__ database as we discussed previously with the following code

In [0]:
permanent_table_name_bookings = "country_club.Bookings1"
bookings_df.write.format("parquet").saveAsTable(permanent_table_name_bookings)

permanent_table_name_facilities = "country_club.Facilities1"
facilities_df.write.format("parquet").saveAsTable(permanent_table_name_facilities)

permanent_table_name_members = "country_club.Members1"
members_df.write.format("parquet").saveAsTable(permanent_table_name_members)

### Refresh tables and check them

In [0]:
%sql
use country_club;
REFRESH table bookings1;
REFRESH table facilities1;
REFRESH table members1;
show tables;

database,tableName,isTemporary
country_club,bookings1,false
country_club,facilities1,false
country_club,members1,false

### Test a sample SQL query

__Note:__ You can use __`%sql`__ at the beginning of a cell and write SQL queries directly as seen in the following cell. Neat isn't it!

In [0]:
%sql
select * from bookings1 limit 3

bookid,facid,memid,starttime,slots
0,3,1,2012-07-03 11:00:00,2
1,4,1,2012-07-03 08:00:00,2
2,6,0,2012-07-03 18:00:00,2

#### Q1: Some of the facilities charge a fee to members, but some do not. Please list the names of the facilities that do.

In [0]:
%sql
select name, membercost
from facilities1
where membercost > 0;

name,membercost
Tennis Court 1,5.0
Tennis Court 2,5.0
Massage Room 1,9.9
Massage Room 2,9.9
Squash Court,3.5

####  Q2: How many facilities do not charge a fee to members?

In [0]:
%sql
select name, membercost
from facilities1
where membercost = 0;

name,membercost
Badminton Court,0.0
Table Tennis,0.0
Snooker Table,0.0
Pool Table,0.0

#### Q3: How can you produce a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost? 
#### Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

In [0]:
%sql
select facid, name, membercost, monthlymaintenance, (membercost / monthlymaintenance * 100) as mem_cost_mo_maint
from facilities1
where (membercost / monthlymaintenance * 100) < 20;

facid,name,membercost,monthlymaintenance,mem_cost_mo_maint
0,Tennis Court 1,5.0,200,2.5
1,Tennis Court 2,5.0,200,2.5
2,Badminton Court,0.0,50,0.0
3,Table Tennis,0.0,10,0.0
4,Massage Room 1,9.9,3000,0.33
5,Massage Room 2,9.9,3000,0.33
6,Squash Court,3.5,80,4.375
7,Snooker Table,0.0,15,0.0
8,Pool Table,0.0,15,0.0

#### Q4: How can you retrieve the details of facilities with ID 1 and 5? Write the query without using the OR operator.

In [0]:
%sql
select * from facilities1
where facid in (1, 5);

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
1,Tennis Court 2,5.0,25.0,8000,200
5,Massage Room 2,9.9,80.0,4000,3000

#### Q5: How can you produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than $100? 
#### Return the name and monthly maintenance of the facilities in question.

In [0]:
%sql
select name,
      case when monthlymaintenance > 100 then 'expensive' 
      else 'cheap' end as mo_maintenance_cat
from facilities1

name,mo_maintenance_cat
Tennis Court 1,expensive
Tennis Court 2,expensive
Badminton Court,cheap
Table Tennis,cheap
Massage Room 1,expensive
Massage Room 2,expensive
Squash Court,cheap
Snooker Table,cheap
Pool Table,cheap

#### Q6: You'd like to get the first and last name of the last member(s) who signed up. Do not use the LIMIT clause for your solution.

In [0]:
%sql
select firstname, surname, joindate
from members1
where joindate == (select max(joindate)
                    from members1);

firstname,surname,joindate
Darren,Smith,2012-09-26 18:08:45

####  Q7: How can you produce a list of all members who have used a tennis court?
- Include in your output the name of the court, and the name of the member formatted as a single column. 
- Ensure no duplicate data
- Also order by the member name.

In [0]:
%sql
select f.name, m.firstname || ' ' || m.surname as name
from facilities1 f
inner join bookings1 b on f.facid = b.facid
inner join members1 m on b.memid = m.memid
where f.name like "Tennis%"
and m.firstname != 'GUEST'
group by 2, 1
order by 2;

name,name
Tennis Court 1,Anne Baker
Tennis Court 2,Anne Baker
Tennis Court 2,Burton Tracy
Tennis Court 1,Burton Tracy
Tennis Court 2,Charles Owen
Tennis Court 1,Charles Owen
Tennis Court 2,Darren Smith
Tennis Court 2,David Farrell
Tennis Court 1,David Farrell
Tennis Court 2,David Jones
Tennis Court 1,David Jones
Tennis Court 1,David Pinker
Tennis Court 1,Douglas Jones
Tennis Court 1,Erica Crumpet
Tennis Court 1,Florence Bader
Tennis Court 2,Florence Bader
Tennis Court 2,Gerald Butters
Tennis Court 1,Gerald Butters
Tennis Court 2,Henrietta Rumney
Tennis Court 2,Jack Smith
Tennis Court 1,Jack Smith
Tennis Court 1,Janice Joplette
Tennis Court 2,Janice Joplette
Tennis Court 1,Jemima Farrell
Tennis Court 2,Jemima Farrell
Tennis Court 1,Joan Coplin
Tennis Court 2,John Hunt
Tennis Court 1,John Hunt
Tennis Court 1,Matthew Genting
Tennis Court 2,Millicent Purview
Tennis Court 1,Nancy Dare
Tennis Court 2,Nancy Dare
Tennis Court 2,Ponder Stibbons
Tennis Court 1,Ponder Stibbons
Tennis Court 1,Ramnaresh Sarwin
Tennis Court 2,Ramnaresh Sarwin
Tennis Court 2,Tim Boothe
Tennis Court 1,Tim Boothe
Tennis Court 1,Tim Rownam
Tennis Court 2,Tim Rownam
Tennis Court 1,Timothy Baker
Tennis Court 2,Timothy Baker
Tennis Court 2,Tracy Smith
Tennis Court 1,Tracy Smith

#### Q8: How can you produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30? 

- Remember that guests have different costs to members (the listed costs are per half-hour 'slot')
- The guest user's ID is always 0. 

#### Include in your output the name of the facility, the name of the member formatted as a single column, and the cost.

- Order by descending cost, and do not use any subqueries.

In [0]:
%sql
select f.name, m.firstname || ' ' || m.surname as name,
        f.guestcost + f.membercost as user_cost
from facilities1 f
inner join bookings1 b  on f.facid = b.facid
inner join members1 m on b.memid = m.memid
where b.starttime like "%2012-09-04%"
and f.guestcost > 30 or f.membercost > 30
order by 3 desc;

name,name,user_cost
Massage Room 1,GUEST GUEST,89.9
Massage Room 1,Tim Rownam,89.9
Massage Room 1,GUEST GUEST,89.9
Massage Room 1,Nancy Dare,89.9
Massage Room 1,GUEST GUEST,89.9
Massage Room 1,Tim Rownam,89.9
Massage Room 1,GUEST GUEST,89.9
Massage Room 1,GUEST GUEST,89.9
Massage Room 1,David Jones,89.9
Massage Room 1,Tim Boothe,89.9
Massage Room 2,GUEST GUEST,89.9
Massage Room 2,GUEST GUEST,89.9

#### Q9: This time, produce the same result as in Q8, but using a subquery.

In [0]:
%sql

select bkng.name as fac_name,  
      m.firstname || ' ' || m.surname as name,
      bkng.membercost + bkng.guestcost as user_cost
from members1 as m
inner join 
  (
  select b.memid as memid, 
        f.guestcost as guestcost, 
        f.membercost as membercost,
        f.name as name
  from bookings1 as b
  inner join facilities1 f on b.facid = f.facid
  where f.membercost > 30 or f.guestcost > 30
  and  b.starttime like '%2012-09-04%'
  ) as bkng
  on m.memid = bkng.memid
order by 3 desc;

fac_name,name,user_cost
Massage Room 1,GUEST GUEST,89.9
Massage Room 1,Tim Rownam,89.9
Massage Room 1,GUEST GUEST,89.9
Massage Room 1,Nancy Dare,89.9
Massage Room 1,GUEST GUEST,89.9
Massage Room 1,Tim Rownam,89.9
Massage Room 1,GUEST GUEST,89.9
Massage Room 1,GUEST GUEST,89.9
Massage Room 1,David Jones,89.9
Massage Room 1,Tim Boothe,89.9
Massage Room 2,GUEST GUEST,89.9
Massage Room 2,GUEST GUEST,89.9

#### Q10: Produce a list of facilities with a total revenue less than 1000.
- The output should have facility name and total revenue, sorted by revenue. 
- Remember that there's a different cost for guests and members!

In [0]:
%sql
select f.name, sum(f.membercost + f.guestcost) as total
from bookings1 b
left join facilities1 f on b.facid = f.facid
group by f.name
having total < 1000
order by 2;